body {
  background-image: url("../image/sunshine.jpg");
  background-position: center;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
h1 {
  top: 20px;
  font-size: 3em;
  font-family: 'Georgia', cursive;
  color: black;
  text-align: center;
}
td {
  top:5px;
  font-size: 1em;
  font-family: 'Georgia', cursive;
}

tr {
  background-color: white;
}
.image-planet {
  border: 2px black;
  margin: 50px;
  float: right;
  width: 300px;
  padding: 5px;
  background-color: white;
  margin: 10px 0 10px 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row2 {
  border: 2px black;
  margin: 50px;
  text-align: center;
  color: black;
}
.row3 {
  border: 2px black;
  margin: 50px;
  text-align: center;
  color: black;
}
.row4 {
  border: 2px black;
  margin: 50px;
  text-align: center;
  color: black;
}
.row5 {
  border: 2px black;
  margin: 50px;
  text-align: center;
  color: black;
}
.row6 {
  border: 2px black;
  margin: 50px;
  text-align: center;
  color: black ;
}
.row7 {
  border: 2px black;
  margin: 50px;
  text-align: center;
  color: black;
}
.row8 {
  border: 2px black;
  margin: 50px;
  text-align: center;
  color: black;
}
.row9 {
  border: 2px black;
  margin: 50px;
  text-align: center;
  color: black;
}
